body {
  background-color: #f00;
  flex: 1;
  // background-image: url('../images/flower.png');
}

%block {
  padding: 1em;
}

.block:hover {
  background-color: #f00;
}

.abc {
  color: #f00;
}

@mixin prefix($property, $value) {
  #{$property}: $value;
}

$red: #f00;

.serious-modal {
  font-style: normal;
  font-weight: bold;
  color: $red;

  @extend %block;

  @include prefix("color", #f00);
}
